*{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}
#timer, #question-counter, #last-question{
    margin: 5%;
}
#page1{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}
#page2{
    display: none;
    width: 33%;
}
#page3{
    display: none;
}
#page4{
    display: none;
}
li:hover{
    border: solid;
    cursor:pointer;
}