#page1{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}
#page2{
    display: none;
}
#page3{
    display: none;
}
#page4{
    display: none;
}
li:hover{
    cursor:pointer;
}